{{if gt $.paging.TotalPage 1}}

<!-- 上一页 -->
{{if gt $.paging.CurPage 1}}
    {{set . "prePageClass" ""}}
    {{set . "prePageUrl" (urlConcat $.pagingBaseUrl "page" (incr $.paging.CurPage -1)) }}
{{else}}
    {{set . "prePageClass" "disabled"}}
    {{set . "prePageUrl" "#"}}
{{end}}

<!-- 下一页 -->
{{if lt $.paging.CurPage $.paging.TotalPage }}
    {{set . "nextPageClass" ""}}
    {{set . "nextPageUrl" (urlConcat $.pagingBaseUrl "page" (incr $.paging.CurPage 1)) }}
{{else}}
    {{set . "nextPageClass" "disabled"}}
    {{set . "nextPageUrl" "#"}}
{{end}}

<ul class="pagination align-items-center mt-4 mb-0 pl-lg-2">
    <!-- left arrow -->
    <li class="page-item {{$.prePageClass}}">
      <a class="page-link btn-box-shadow" href="{{$.prePageUrl}}" aria-label="previous-page">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>
    
    <!-- show number -->
    <li class="page-item disabled">
      <a class="page-link btn-box-shadow">{{$.paging.CurPage}}</a>
    </li>

    <!-- mobile pagination -->
    <li class="page-index align-middle">
      <span>{{ $.paging.CurPage }}</span>
      <span class="text-muted">/ {{ $.paging.TotalPage }}</span>
    </li>
  
    <!-- right arrow -->  
    <li class="page-item {{$.nextPageClass}}">
      <a class="page-link btn-box-shadow" href="{{$.nextPageUrl}}" aria-label="next-page">
        <i class="fas fa-angle-right"></i>
      </a>
    </li>
  
</ul> <!-- .pagination -->

{{end}}